::-webkit-scrollbar-thumb{
  background: #ff068c;
  border-radius: 100vw;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* overflow-y: hidden; */
}

html{
  scroll-behavior: smooth;
}

.animation__content__container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logo__jetski{
  width: 50%;
  height: auto;

}

.arrow{
  width: 5%;
  height: auto;
  background-color: #ff068c;
  border-radius: 50%;
}


.content__container {
  width: 100%;
  /* overflow-y: scroll; */
  background-color: black;
}

.intro__section{
  background-color: #fedd00;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}

.intro__img__container{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__img{
  width: 100%;
  height: auto;
}

.intro__text__container{
  width: 40%;
  color: black;
  font-weight: bold;
  text-align: center;
}

.intro__title{
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ff068c;
}

.intro__text{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.table__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.table__content{
  width: 60%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.table__title{
  color: #ff068c;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid white;
}